.LoginWrapper{
    border-style:solid;
    border-color:rgb(211,211,211);
    width:38%;
    height:50%;
    margin-top:13%;
    justify-content: center;
    align-items:center;
    border-radius:5%;
}

.Login{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

.LoginContent{
    align-items: center;
    justify-content: center;
    margin-top:7%;
}

.LoginTitle{
    text-align:center;
}

.login_form_forgot{
    margin-left:80px;
}
